@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hannari&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #565759;
    background-color: #ebedeb;
}



header {
    background: #ebedeb;
    background: linear-gradient(0deg, #ebedeb 0%, #b3c6c8 38%, #7399a0 100%);
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.homeheader {
    height: 100vh;
    
}

header h1 {
    color: #ebedeb;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    font-family: "Cormorant", serif;
    pointer-events: none;
}

header p {
    color: #ebedeb;
    font-size: 15px;
    margin: 0;
    font-family: "Cormorant", serif;
}

.header a {
    text-decoration: none;
}

.contact-button {
    background-color: transparent;
    color: #ebedeb;
    font-size: 14px;
    border: 1px solid #ebedeb;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 70px;
    transition: ease .4s;
    z-index: 8;
}

.contact-button:hover {
    background-color: #ebedeb;
    color: #7399a0;
}

.burger {
    height: 38px;
    width: 38px;
    background-image: url(img/burger.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 50;
    transition: 0.2s ease-in-out;
    position: fixed;
}

.burger.is-active {
    background-image: url(img/close.svg);
    position: fixed;
}

.menu {
    font-family: "Cormorant", serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #252d2edd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    display: none;
    overflow: hidden;

}
.menu.is-active {
    display: flex;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 40px 0;
}

.menu ul li a {
    pointer-events: all;
    text-decoration: none;
    color: #ebedeb;

}

nav {
    text-align: center;
    padding-top: 20px;
    top: 0;
    z-index: 20;
    margin-bottom: 1px;

}

nav ul {
    list-style-type: none;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    padding-bottom: 3px;
    position: relative;
}

nav ul li::before {
    background: #7399a0;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .3s;
  }
  nav ul li:hover::before {
    transform-origin: center top;
    transform: scale(1, 1);
  }

nav ul li a {
    pointer-events: all;
    text-decoration: none;
    color: #7399a0;
    font-family: "Cormorant", serif;
    font-size: 15px;
}


.home {
    align-items: center;
    position: fixed;
    overflow: hidden;
    bottom: 15px;
    right: 15px;
    z-index: 30;
}
.home a {
    background-color: transparent;
    text-decoration: none;
    color: #7399a0;
    border: 1px solid #7399a0;
    border-radius: 20px;
    padding: 5px 25px 5px 10px;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    transition: ease .4s;
}

.home a:hover {
    color: #fff;
    background-color: #7399a0;
} 


main {
    padding: 10px 10px;
}

.homecard-set {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

&:has(.homecard:hover) .homecard:not(:hover) {
    filter: grayscale(100%);

}

.homecard {
    position: relative;
    padding: 0;
    margin: 15px;
    overflow: hidden;
    width: 25%;
    transition: 0.7s;
    &:hover {
        scale: 1.1;
    }
    z-index: 10;
}



.homecard img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.link {
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding: 2px 20px;
    color: white;
    border-radius: 30px;
    background-color: #a4a4a475;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Cormorant", serif;
}

@media (max-width: 924px) {
    .homecard {
        width: 60%;
        height: 300px;
    }
    .contact-button {
        background-color: transparent;
        color: white;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 8px 20px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 70px;
        transition: ease .4s;
        z-index: 8;
    }
    .proma {
        width: 300px;
    }
    .profile p {
        font-size: 14px;
    }
    
}

.profile-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    font-family: 'Hannari', serif;
    align-items: center;
    justify-content: center;
}

.proma {
    margin: 0 30px;
    margin-top: 10px;
}

.profile h2 {
    font-size: 30px;
    font-weight: bold;
}

.profile p {
    margin: 0;
    text-wrap: balance;
    word-break: auto-phrase;
}

.id-photo img {
    width: 300px;
    aspect-ratio: 1/1;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    filter: grayscale(60%);
}

#loading {
    display: grid;
    place-items: center;
    background-color: #222;
    color: white;
    position: fixed;
    inset: 0;
    font-size: 1.5rem;
    transition: opacity 3s;
    z-index: calc(infinity);
}
#loading.loaded {
    opacity: 0;
    pointer-events: none;
}

.typing-1 {
    --size: 24px;
    --stroke-width: calc(var(--size) / 6);
    --color: currentColor;
    --animation-timing-function: linear;
    --animation-duration: 1s;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-bottom: var(--stroke-width) solid var(--color);
  }
  
  .typing-1::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: calc(var(--stroke-width) / 2);
    left: 0;
    width: calc(var(--stroke-width) * 1.25);
    background-color: var(--color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    transform: translateX(0) rotate(10deg);
    animation: var(--animation-timing-function) var(--animation-duration) infinite typing-1-animation;
  }
  
  @keyframes typing-1-animation {
    0% {
      transform: translateX(0) rotate(10deg);
    }
  
    85% {
      transform: translateX(var(--size)) rotate(10deg);
    }
  
    100% {
      transform: translateX(0) rotate(10deg);
    }
  }

.card-explain {
    font-family: 'Hannari', serif;
    text-align: center;
    margin-top: 10px;
    pointer-events: none;
}  

.card-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.card {
    border-radius: 5px;
    width: 280px;
    height: 280px;
    padding: 10px;
    margin: 15px;
    object-fit: cover;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden; /* 子要素がカードの外に出ないようにする */
    
}

.production1 {
    background-image: url("img/wellb-fes.jpg");
    background-size: 280px;
} 
.production2 {
    background-image: url("img/iniad-pr.jpg");
    background-size: 280px;
}
.production3 {
    background-image: url("img/package-design.jpg");
    background-size: 280px;
    background-position: 0;
}
.production4 {
    background-image: url("img/weather-site.jpg");
    background-size: 360px;
    background-position: -40px 0;
}
.production5 {
    background-image: url("img/national-flag.jpg");
    background-size: 280px;
    background-position: 0 20px;
}
.production6 {
    background-image: url("img/tuitui-pasta.jpg");
    background-size: 287px;
}
.production7 {
    background-image: url("img/inimon-gacha.jpg");
    background-size: 355px;
    background-position: -35px -3px;
}
.production8 {
    background-image: url("img/kakukaku-chat.jpg");
    background-size: 370px;

}
.production9 {
    background-color: #acc4cb;
    color: #fff;
}


.card .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明の黒背景 */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* なめらかな表示・非表示 */
    text-align: center;
    padding: 40px;
}

.card p {
    pointer-events: none;
    text-wrap: balance;
}

.skills-container {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(120px, 1fr))
    ;
    margin: 40px 50px;
}

.skill-set p {
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    pointer-events: none;
}

.skill-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 3px;
}

.area{
    background: #dbdfdf;
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #acaaaa;
    font-size: small;
    font-family: "Cormorant", serif;
    margin: 0;
}